
.parent-movie-container {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}

.outer-movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-container {
    text-align: center;
}

.movie-img-poster {
    width: 300px;
    height: 400px;
    border-radius: 8px;
}

.movie-name {
    margin-top: 10px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.button {
    margin-top: 10px;
}

.button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button a:hover {
    background-color: #2980b9;
}